body {
  background: url('../images/milky-way-735693_1920.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#nav-bar {
  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
}

#nav-bar p {
  padding: 8px;
}

#nav-bar-content ul li img {
  list-style-type: none;
  padding: 8px;
}

#nav-bar-mini {
  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
}

.radioGalaxy {
  color: white;
  margin-top: 8vh;
  font-family: davyfrancis;
  font-size: 130px;
}

.content {
  background-color: white;
  margin-top: 8vh;
  height: 40vh;
}

/* Image Scroller */

#scroller {
  width: 550px;
  height: 400px;
  margin: 0 auto;
}

.scrollPic {
  width: 600px;
  height: 400px;
}

@font-face {
  font-family: 'davyfrancis';
  src: url('../fonts/WCManoNegraBta.ttf') format('truetype');
}
