body {
  background: url('../images/milky-way-735693_1920.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.basic {
  font-family: abeakrg;
  font-size: 16px;
}

#nav-bar {
  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
}

#nav-bar p {
  padding: 12px;
  font-family: abeakrg;
}

#nav-bar-content ul li {
  list-style-type: none;
  padding: 8px;
  font-family: abeakrg;
  cursor: pointer;
}

.mainPage {
  margin: 0 20vw 0 20vw;
  background-color: white;
}

#nav-bar-mini {
  height: 40px;
  width: 100%;
  background-color: black;
}

#nav-bar-mini p {
  padding: 12px;
  color: white;
  font-family: abeakrg;
  list-style: none;
}

.radioGalaxy {
  color: white;
  margin-top: 8vh;
  font-family: davyfrancis;
  font-size: 130px;
}

#content {
  margin: 25px 0 50px 0;
}

/* Image Scroller */

#scroller {
  position: relative;
  width: 90%;
  height: 300px;
  margin: 0 auto;
}

.scrollPic {
  width: 600px;
  height: 400px;
}

#scroller .innerScrollArea {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#scroller ul {
  padding: 0;
  margin: 0;
  position: relative;
}
#scroller li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
}

.soundCloud {
  height: 100px;
  width: 100%;
}

#contact img {
  height: 500px;
  width: 800px;
  margin-bottom: 20px;
}

#contact button {
  background-color: black;
  height: 30px;
  width: 100px;
  border-style: none;
  margin-bottom: 50px;
}

@font-face {
  font-family: 'davyfrancis';
  src: url('../fonts/WCManoNegraBta.ttf') format('truetype');
}

.davyfrancis {
  font-family: 'davyfrancis';
}

@font-face {
  font-family: 'abeakrg';
  src: url('../fonts/ABEAKRG.TTF') format('truetype');
}

.abeakrg {
  font-family: 'abeakrg';
}
