#nav-bar {
  margin-top:;
  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
}

#nav-bar p {
  padding: 8px;
}

#nav-bar-content ul li {
  list-style-type: none;
  padding: 8px;
}

@font-face {
  font-family: 'davyfrancis';
  src: url('../fonts/Davy_Francis.ttf') format('truetype');
}

.davyfrancis {
  font-family: davyfrancis;
  font-size: 150px;
}

