body {
  background: url('../images/milky-way-735693.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#nav-bar {
  margin-top:;
  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
}

#nav-bar p {
  padding: 8px;
}

#nav-bar-content ul li {
  list-style-type: none;
  padding: 8px;
}

@font-face {
  font-family: 'davyfrancis';
  src: url('../fonts/WCManoNegraBta.ttf') format('truetype');
}

.radioGalaxy {
  color: white;
  margin-top: 15vh;
  font-family: davyfrancis;
  font-size: 150px;
}

.container {
  background-color: white;
}

